@font-face {
  font-family: "Abril Fatface";
  src: url("../fonts/Montserrat.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.65rem;
}

a {
  text-decoration: none;
}
@media screen and (max-width: 600px) {
  h2 {
    font-size: 1.2rem;
  }
}
